<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <ul id="feed"></ul>
  <a href="javascript:void(0)" class="fetch-more">Fetch More Tweets!</a>
</div>

<script>
  $(function () {
    $("div.infinite-tweets").infiniteTweets();
  });
</script>


<%= render "tweets/form" %>
